@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Variables de colores y estilos */
:root{
    --Font:#E5E5E5;
    --White:#FFFFFF;
    --Dark-Blue:#0A3871;
    --Greey:#C5C5C5;
    --Medium-Gray:#67808E;
    --RGBA:rgba(0,0,0,0.08);
    --White-Blue:#D8DFE8;
    --Medium-Blue:#0a38718a;
    --Gray:#343A40;
    --Gree:#495057;
}

/* Reset y configuraciones generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background: var(--White);
}

::selection{
    background: var(--Dark-Blue);
    color: var(--White);
}

/* Configuración básica de cuerpo e imágenes */
body{
    height: 100%;
}

img{
    max-width: 100%;
}

/* Estilo para el header y logo */
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    width: 120px;
    height: 48px;
}

/* Configuración del main y secciones */
main{
    display: flex;
    flex-direction: row;
    background: url(../imagenes/portada.png) no-repeat center/cover;
}

/* Estilo para la sección de encriptación */
.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptar{
    width: 660px;
    height: 288px;
    font-size: 32px;
    border: 1px solid var(--Greey);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder,
:focus{
    color: var(--Dark-Blue);
}

/* Aviso de encriptación */
.encriptador-aviso{
    display: flex;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto-aviso{
    font-size: 18px;
    color: var(--Medium-Gray);
    opacity: 0.8;
}

/* Contenedor de botones */
.encriptador-contenedor{
    display: flex;
    gap: 8px;
    position: absolute;
    top: 526px;
}

/* Estilos de los botones */
.btn-encriptar,
.btn-desencriptar{
    width: 328px;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-encriptar{
    background: var(--Dark-Blue);
    color: var(--White);
    border: 1px solid var(--Dark-Blue);
}

.btn-encriptar:active{
    box-shadow: inset 2px 2px 4px var(--Font), inset -3px -4px 8px var(--Dark-Blue);
    color: var(--White-Blue);
}

.btn-desencriptar{
    background: var(--White-Blue);
    color: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
}

.btn-copiar:active,
.btn-desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--Dark-Blue), inset -3px -4px 8px var(--Font);
    color: var(--Medium-Blue);
}

/* Estilo para la tarjeta */
.tarjeta{
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 24px 32px -8px var(--Gray);
    border-radius: 32px;
    text-align: center;
    margin-top: 40px;
}

.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);
}

/* Texto en la tarjeta */
.texto-uno{
    font-weight: 700;
    font-size: 18px;
    color: var(--Gray);
}

.texto-dos{
    font-weight: 400;
    font-size: 12px;
    color: var(--Medium-Gray);
}

/* Área de texto de salida */
.evaluar{
    width: 100%;
    height: 485px;
    font-size: 24px;
    color: var(--Gree);
    border-radius: 32px 32px 0 0;
    border: none;
    resize: none;
    background: transparent;
}

.evaluar:focus{
    outline: none;
}

.btn-copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    padding: 24px;
    font-size: 16px;
    background: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/* Efectos hover */
.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover{
    transform: scale(0.97);
}

/* Estilo para el footer */
footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    color: var(--Gray);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* Efectos hover en los íconos sociales */
.linked:hover{
    opacity: 0.8;
}

.git:hover{
    opacity: 0.6;
}

/* Responsivo para pantallas medianas */
@media(max-width: 1250px){
    main{
        flex-direction: column;
        align-items: center;
    }

    .encriptador{
        margin-top: 168px;
        align-items: center;
        width: 100%;
    }

    .tarjeta{
        width: 665px;
        height: 300px;
        align-items: flex-end;
    }

    .tarjeta-contenedor{
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-muñeco{
        display: none;
    }

    .btn-copiar{
        width: 100%;
    }

    .evaluar{
        height: 210px;
    }
}

/* Responsivo para pantallas pequeñas */
@media(max-width: 720px){
    header .logo{
        width: 100%;
        padding: 2px;
    }

    .encriptar{
        width: 90%;
        font-size: 24px;
    }

    .tarjeta{
        width: 90%;
    }

    .copyright{
        font-size: 20px;
    }
}
